
@page {
  margin: 50mm 25.4mm ;
}

.header {
  display: none;
}
.footer {
  display: none;
}

.logo {
  display: none;
}

@media print {

  .logo {
    display: block;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* .logo {
    top: 0;
  } */

  .header, .page-header-space {
  height: 50mm;
  display: block;
}

.footer, .page-footer-space {
  height:26mm;
  display: block;


}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
 
}

.header {
  position: fixed;
  top: 0mm;
  width: 100%;
  
}
}


