@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #eeeeee;
  /* background-color: #e3f2fd; */
  /* background-color: #e0e0e0; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Verdana', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

