.NavLink {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.NavLink a.active {
    background-color: lightblue;
}

.navi {
    margin-top: 5px;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.navi:hover {
    background-color: lightblue;
}